* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.sign-in {
  position: absolute;
  width: 1112px;
  height: 685px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}
.greeting {
  left: 50px;
  top: 144px;
  position: absolute;
  overflow: visible;
  width: 76px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(38, 38, 38, 1);
}
.info {
  left: 50px;
  top: 188px;
  position: absolute;
  overflow: visible;
  width: 317px;
  height: 46px;
  line-height: 22px;
  margin-top: -4px;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(89, 98, 106, 1);
}
#Rectangle_286 {
  fill: rgba(245, 246, 247, 1);
}
.Rectangle_286 {
  position: absolute;
  overflow: visible;
  width: 417px;
  height: 363px;
  left: 0px;
  top: 323px;
}
#Email_address {
  left: 50px;
  top: 353px;
  position: absolute;
  overflow: visible;
  width: 95px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(38, 38, 38, 1);
}
#Rectangle_287 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_287 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.02));
  position: absolute;
  overflow: visible;
  width: 334px;
  height: 66px;
  left: 50px;
  top: 382px;
}
#Rectangle_288 {
  fill: rgba(120, 106, 255, 1);
}
.Rectangle_288 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.02));
  position: absolute;
  overflow: visible;
  width: 334px;
  height: 66px;
  left: 50px;
  top: 547px;
}
#Sign_in_p {
  left: 183px;
  top: 560px;
  position: absolute;
  overflow: visible;
  width: 52px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
#Rectangle_289 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_289 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.02));
  position: absolute;
  overflow: visible;
  width: 334px;
  height: 66px;
  left: 50px;
  top: 479px;
}
#Email {
  left: 64px;
  top: 397px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(149, 152, 154, 1);
}
#Password {
  left: 64px;
  top: 494px;
  position: absolute;
  overflow: visible;
  width: 64px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(149, 152, 154, 1);
}
.key-logo {
  position: absolute;
  text-align: center;
  width: 72.585px;
  height: 72.585px;
  left: 50px;
  top: 60px;
  overflow: visible;
}
.inside-logo {
  position: absolute;
  width: 72.585px;
  height: 72.585px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2 {
  fill: rgba(124, 89, 255, 1);
}
.Path_2 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
  overflow: visible;
  position: absolute;
  width: 51.326px;
  height: 51.326px;
  transform: translate(-525.708px, -130px)
    matrix(1, 0, 0, 1, 536.3378, 140.6299) rotate(45deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#key {
  fill: rgba(255, 255, 255, 1);
}
.key {
  overflow: visible;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 27px;
  top: 27px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_44 {
  fill: transparent;
  stroke: rgba(238, 238, 238, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_44 {
  overflow: visible;
  position: absolute;
  width: 417px;
  height: 1px;
  left: 0.5px;
  top: 631.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Dont_have_an_account_Sign_up_n {
  left: 91px;
  top: 647px;
  position: absolute;
  overflow: visible;
  width: 237px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(89, 98, 106, 1);
}
#Forgot_your_password {
  left: 235px;
  top: 451px;
  position: absolute;
  overflow: visible;
  width: 133px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(22, 142, 234, 1);
}
#Password_ {
  left: 50px;
  top: 450px;
  position: absolute;
  overflow: visible;
  width: 66px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(38, 38, 38, 1);
}
#Mask_Group_4 {
  position: absolute;
  width: 694.5px;
  height: 686px;
  left: 417.5px;
  top: 0px;
  overflow: visible;
}
.Component_1__1 {
  position: absolute;
  width: 292px;
  height: 19px;
  left: 64px;
  top: 264px;
  overflow: visible;
}
#learnMore {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 293px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -4px;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(22, 142, 234, 1);
}
#chevron-right {
  fill: rgba(22, 142, 234, 1);
}
.chevron-right {
  overflow: visible;
  position: absolute;
  width: 7.282px;
  height: 12px;
  left: 50px;
  top: 268px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.login-layout {
  position: absolute;
  width: 1112px;
  min-height: 834px;
  background-color: rgba(245, 246, 247, 1);
  overflow: hidden;
}

.menu {
  position: absolute;
  width: 202.87px;
  height: 413.698px;
  left: 31.13px;
  top: 150px;
  overflow: visible;
}

#name-icon {
  fill: rgba(124, 89, 255, 1);
}
.name-icon {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
  width: 38px;
  height: 38px;
  position: absolute;
  overflow: visible;
  transform: translate(-31.13px, -150px) matrix(1, 0, 0, 1, 39, 157.8701)
    rotate(45deg);
  transform-origin: center;
}

.acronym {
  left: 18.87px;
  top: 14.698px;
  position: absolute;
  overflow: visible;
  width: 19px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#nomadrental-logo {
  position: absolute;
  background-image: url('./pages/Assets/img/nomadrental-logo.svg');
  width: 143.175px;
  height: 38px;
  left: 40px;
  top: 42px;
  overflow: visible;
}

.name {
  left: 7.87px;
  top: 65.698px;
  position: absolute;
  overflow: visible;
  width: 63px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(38, 38, 38, 1);
}

.account-type {
  left: 8.87px;
  top: 85.698px;
  position: absolute;
  overflow: visible;
  width: 106px;
  white-space: nowrap;
  text-align: left;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(138, 143, 156, 1);
}

.booking-box {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
  position: absolute;
  overflow: visible;
  width: 213px;
  height: 56px;
  left: 7.87px;
  top: 145.698px;
}

a {
  text-decoration: none;
}

#booking-box {
  fill: rgba(138, 143, 156, 1);
  color: rgba(138, 143, 156, 1);
  width: 195px;
  height: 38px;
  border-radius: 6px;
}

#booking-box:hover {
  fill: rgba(255, 255, 255, 1);
  color: white;
  background-color: rgba(124, 96, 255, 1);
  transition-duration: 0.2s;
}

.bookings {
  padding: 5% 13px;
  position: relative;
  overflow: visible;
  width: 63px;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  /* color: rgba(255, 255, 255, 1); */
}

.inbox {
  margin-right: 12px;
  overflow: visible;
  width: 18px;
  height: 12px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
